// MediaQueries
movil = 480px
tablet = 768px
web = 1024px
hd = 1400px

mqmovil = "screen and (min-width:"+ movil +")"
mqtablet = "screen and (min-width:"+ tablet +")"
mqweb = "screen and (min-width:"+ web +")"
mqhd = "screen and (min-width:"+ hd +")"

// Colors
facebook = #3A5795
twitter = #00ACED
instagram = #0D3E64
google = #DC4B39
behance = #005CFF
medium = #262523
dribbble = #EA4C89

gray1 = #333332
green1 = #53DD5C

// Fonts

fontPTSans = 'PT Sans Caption', sans-serif
fontRoboto = 'Roboto', sans-serif
fontTiti = 'Titillium Web', sans-serif
