doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title 100 Days UI Challenge
        link(rel='stylesheet', href='css/style.css')
        link(rel="stylesheet", href="https://file.myfontastic.com/RCHR7rbAhuk35c8fGZrmSo/icons.css")
    body
        header
            figure
                a(href="/")
                    img(src="../images/avatar.jpg", alt="")
            h1: | 100 Days UI Challenge
            p: | Hi, welcome to 100 Days UI Challenge
                br
                | I am Cristhofer and my mission is to design UI elements every day.
            nav
                a.twitter(href="https://twitter.com/CristhGunners/", target="_blank"): span.icon-social-twitter
                a.instagram(href="https://instagram.com/cristhgunners/", target="_blank"): span.icon-social-instagram
                a.dribbble(href="https://dribbble.com/CristhGunners", target="_blank"): span.icon-social-dribbble
                a.behance(href="https://www.behance.net/cristhgunners", target="_blank"): span.icon-social-behance
                a.github(href="https://github.com/CristhGunners", target="_blank"): span.icon-social-github
                a.medium(href="https://medium.com/@cristhgunners", target="_blank"): span.icon-social-medium
                a.google-plus(href="https://plus.google.com/u/0/+CristhoferAndanaGunners", target="_blank"): span.icon-social-google-plus
                a(href="http://cristhgunners.github.io/", target="_blank"): span.icon-web
        button.top: span.icon-caret-up-two
        section#content
            #shots
        script(src='http://code.jquery.com/jquery-latest.min.js')
        script(src='js/main.js')
